@charset "utf-8";
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1a1a1a;
  color: #f5f5f5;
}
h1{
  margin: 16px auto;
  text-align: center;
}
section{
  
  margin: 0 auto;
  padding: 32px 0;
}
.fade-in{
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 2s ,transform 2s;
}
.fade-in.show{
  opacity: 1;
  transform: translateY(0);
}
.section-title{
  text-align: center;
  font-size: 24px;
  margin: 16px auto 32px;
  
  /* border-top: 1px solid #f5f5f5; */
}
.slider{
  position: relative;
  width: 100%;
  aspect-ratio: 8/7;
  max-width: 800px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.slides{
  display: flex; 
}
.slide{
  width: 100%;
  height: 100%;
  
}
.slides img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  opacity: 0.3;
}
.slider h1{
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 40px;
  font-family: mon;
}

.profile{
  background: #474545;
}
.profile .container{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.profile .prof-img{
  width: 240px;
  max-width: 300px;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin: 16px auto;
  border-radius: 50%;
}
.profile .container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.profile .container .text{
  margin: 16px auto;
  
}
.profile .container .text h3{
  font-size: 24px;
  margin: 16px auto;
  
}
.profile .container .text table{
  width: 160px;
  font-size: 20px;
  margin: 16px auto;
}
.profile .container .text th{
  display: block;
  text-align: left;
  margin-right: 32px;
}
.profile .container .text td{
  text-align: left;
}

.card-wrapper{
  position: relative;
  min-height: 360px;
  margin:16px auto 0;
  
}
.card{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  background: #bfbfbf;
  width: 70%;
  max-width: 400px;
  margin:0 auto;
  padding: 16px;
  opacity: 0;
  transition: opacity 2s ;
  pointer-events: none;

}
 .card.current{
  display: block;
  opacity: 1;
  transform: translate(-50%,0);
  pointer-events: auto;
}
.card .card-img{
  width: 80%;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin:16px auto ;
  
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tent{
  object-position: bottom;
}
.card .card-text{
  width: 80%;
  margin: 16px auto;
  pointer-events: auto;
}
.card p{
  font-size: 24px;
  margin: 8px 0;
  
}
.card-text .p2{
  font-size: 16px;
}

.catalog ul{
  list-style: none;
  max-width: 1200px;
  margin: 16px auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 16px;
  padding: 16px;
}
.list{
  /* width: 40%; */
  overflow: hidden;
  aspect-ratio: 1/1;
}
.list img{
  width: 100%;
  max-width: 160px;
  height: 100%;
  max-height: 160px;
  object-fit: cover;
}

.timeschedule{
  background: #474545;
}
dl{
  position: relative;
  max-width: 600px;
  margin: 16px auto;
  
}
dl::before{
  content: "";
  width: 2px;
  height: 100%;
  background: #bfbfbf;
  position: absolute;
  top: 5px;
  left: 15px;
}
dt{
  padding-left: 40px; 
  position: relative;
  padding-bottom: 16px;
  user-select: none;
  cursor: pointer;
}
dt::before{
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #bfbfbf;
  position: absolute;
  top: 5px;
  left: 10px;
  
}
dt::after{
  content: "+";
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 8px;
  transition: transform .4s;
}

dd{
  display: none;
}
.active dd{
  display: block;
  animation: .4s acodion;
}
@keyframes acodion{
  0%{
    opacity: 0;
    transform: translateY(-20px);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}

.active dt::after{
  transform: rotate(45deg);
}
.acodion-item{
  /* display: flex; */
  width: 90%;
  margin: 0 auto 16px;
 
  
}

.acodion-item img{
  display: block;
  width: 200px;
  aspect-ratio: 4/3;
  object-fit: cover;
  margin: 0 auto;
}
.acodion-item p{
  margin: 8px 0 16px;
  
  color: #bfbfbf;
}

footer{
  text-align: center;
  padding: 16px 0;
}