@charset "utf-8";
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1a1a1a;
  color: #f5f5f5;
}
h1{
  margin: 16px auto;
  text-align: center;
}
section{
  max-width: 1000px;
  margin: 60px auto;
}
.section-title{
  text-align: center;
  font-size: 32px;
  margin: 32px auto 16px;
  /* border-top: 1px solid #f5f5f5; */
}
.slider{
  position: relative;
  width: 100%;
  aspect-ratio: 8/7;
  max-width: 800px;
  
  overflow: hidden;
  margin: 8px auto;
}
.slides{
  display: flex; 
}
.slide{
  width: 100%;
  height: 100%;
}
.slides img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;

}


.profile .container{
  
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.profile .prof-img{
  width: 240px;
  max-width: 300px;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin: 16px auto;
  border-radius: 50%;
}
.profile .container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.profile .container .text{
  margin: 16px auto;
  
}
.profile .container .text h3{
  font-size: 24px;
  margin: 16px auto;
  
}
.profile .container .text table{
  width: 160px;
  font-size: 20px;
  margin: 16px auto;
}
.profile .container .text th{
  display: block;
  text-align: left;
  margin-right: 32px;
}
.profile .container .text td{
  text-align: left;
}


.card{
  background: #bfbfbf;
  width: 70%;
  max-width: 400px;
  margin:0 auto;
  padding: 16px;
  display: none;
}
 .card.current{
  display: block;
}
.card .card-img{
  width: 80%;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin:16px auto ;
  
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#tent{
  object-position: bottom;
}
.card .card-text{
  width: 80%;
  margin: 16px auto;
}
.card p{
  font-size: 24px;
  margin: 8px 0;
  
}
.card a{
  display: block;
  color: #f5f5f5;
  cursor: pointer;
}

.catalog ul{
  list-style: none;
  margin: 16px;
  padding: 16px 32px;
  
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 16px;
  padding: 16px;
}
.list{
  /* width: 40%; */
  overflow: hidden;
  aspect-ratio: 1/1;
}
.list img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer{
  text-align: center;
  padding: 16px 0;
}